In [1]:
"""1. Create a function that takes a list and string. The function should remove
the letters in the string from the list, and return the list.
Examples
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string") ➞ ["w"]
remove_letters(["b", b", "l", "l", "g", "n", "o", "a", "w"], "balloon") ➞ ["b", "g", "w"]
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit") ➞ []"""

def remove_letters(c, s):
    l = []
    for i in c:
        if c.count(i) > 1:
            if s.count(i) > 1:
                pass
            else:
                if i not in l:
                    l.append(i)
    for j in c:
        if j not in s:
            if j not in l:
                l.append(j)
    return l

print(remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string"))
print(remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon"))
print(remove_letters(["d", "b", "t", "e", "a", "i"], "edabit"))

['w']
['b', 'g', 'w']
[]

In [2]:
"""2. A block sequence in three dimensions. We can write a formula for this one:
Create a function that takes a number (step) as an argument and returns the
amount of blocks in that step.
Examples
blocks(1) ➞ 5
blocks(5) ➞ 39
blocks(2) ➞ 12"""

def blocks(step):
    base = 5
    sum = 0
    i = 1
    while i <= step:
        sum = sum + base + i
        i += 1
    return sum - 1

print(blocks(1))
print(blocks(5))
print(blocks(2))

5
39
12

In [3]:
"""3. Create a function that subtracts one positive integer from another, without
using any arithmetic operators such as -, %, /, +, etc.
Examples
my_sub(5, 9) ➞ 4
my_sub(10, 30) ➞ 20
my_sub(0, 0) ➞ 0"""

def my_sub(n1, n2):
    l2 = []
    l1 = []
    for i in range(0, n2):
        l2.append("#")
    for j in range(0, n1):
        l1.append("#")
    c1 = l1.count("#")
    result = l2[c1:].count("#")
    return result

print(my_sub(5, 9))
print(my_sub(10, 30))
print(my_sub(0, 0))

4
20
0

In [4]:
"""4. Create a function that takes a string containing money in dollars and
pounds sterling (seperated by comma) and returns the sum of dollar bills only,
as an integer.
For the input string:
- Each amount is prefixed by the currency symbol: $ for dollars and £ for
pounds.
- Thousands are represented by the suffix k.
i.e. $4k = $4,000 and £40k = £40,000
Examples
add_bill("d20,p40,p60,d50") ➞ 20 + 50 = 70
add_bill("p30,d20,p60,d150,p360") ➞ 20 + 150 = 170
add_bill("p30,d2k,p60,d200,p360") ➞ 2 * 1000 + 200 = 2200"""

def add_bill(money):
    sep_money = money.split(",")
    l = []
    l1 =[]
    sum = 0
    for i in range(len(sep_money)):
        if "d" in sep_money[i]:
            l.append(sep_money[i])
    for j in range(len(l)):
        s = ""
        for m in range(len(l[j])):
            if l[j][m] == "d":
                pass
            else:
                s = s + (l[j][m])
        l1.append(s)
    for n in range(len(l1)):
        if "k" in l1[n]:
            for o in range(len(l1[n])):
                if l1[n][o] != "k":
                    sum = sum + int(l1[n][o])
                else:
                    sum = sum * 1000
        else:
            sum = sum + int(l1[n])

    return sum

print(add_bill("d20,p40,p60,d50"))
print(add_bill("p30,d20,p60,d150,p360"))
print(add_bill("p30,d2k,p60,d200,p360"))

70
170
2200

In [5]:
"""5. Create a function that flips a horizontal list into a vertical list, and a vertical
list into a horizontal list.
In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list
(n rows and 1 column), and vice versa.
Examples
flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
# Take a horizontal list and flip it vertical.
flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
# Take a vertical list and flip it horizontal.
flip_list([]) ➞ []"""

def flip_list1(n):
    return [[i] for i in n]

print(flip_list1([1, 2, 3, 4]))

def flip_list(m):
    return [i[0] for i in m]

print(flip_list([[5], [6], [9]]))

def flip_list1(n):
    return [[i] for i in n]

print(flip_list1([]))

[[1], [2], [3], [4]]
[5, 6, 9]
[]